// Desktop-PC //
@include screen-xl { 
	.mobile, .only-mobile, .laptop { 
		display: none ;
	}
}


// Handy //
@include screen-md-down {
	.big-box, .desktop, .laptop {
		display: none;
	}
}

@media only screen and (min-width: 1200px) and (max-width: 1920px) and (min-height: 600px) and (max-height: 1080px) {
    .desktop, .only-mobile {
      display: none !important;
    }

	.mobile, .laptop {
		display: block !important;
	}
}