.lieblings-zitate-box {
	.quoteBoxTitle {
		display: none;
	}
	
	@include screen-md-down {
		.quoteBoxIcon {
			display: none;
		}
	}
	
	.quoteBoxContent {
		background-color: #fff !important;
 		box-shadow: 0px 0px 1px #fff inset, 0px 1px 0px #fff inset;
 		border: 1px solid #dbdbdb;
		margin: 0 !important;
		border-radius: 8px !important;
	}
	
	.quoteBoxIcon {
		margin: 30px 20px 0 20px !important;
	}
		
	.htmlContent table, .htmlContent td {
		border: none !important;
		background: #fff !important;
		border-radius: 12px !important;
		padding: 12px !important;
	}

}

.accordion-content-1 .boxesContentTop {
	margin-top: 10px !important;
}